<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>GITAM COLLEAGE</h1>
    <h3>REGISTATION PAGE</h3>
    <a href="/fit/">faculty registation</a><br>
    <a href="/fit1/">student registation</a>

    <h3>LOGIN PAGE</h3>
    <a href="/sit/">faculty login</a><br>
    <a href="/sit1/">student login</a>

</body>
</html>