<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h2>login</h2>
        <form action="/cheek/" method="POST">
            {%csrf_token%}
         userid:
         <input type="text" name="us"><br>
         branch:
         <input type="text" name="br">
         <br>
         <input type="submit" value="login">
        </form>
</body>
</html>